{% load static %}

<!-- AGID - EIDAS IDP BUTTON MEDIUM "ENTER WITH EIDAS" * begin * -->
{% if method == 'post' %}
<form name="eidas_idp_access" action="#" method="post">
    {% for key, value in post_data.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}" />
    {% endfor %}
    {% endif %}
    <a
        class="italia-it-button italia-it-button-size-m button-spid button-eidas"
        {% if next %}
        href="{% url 'spid:login' %}?idp={{ idp.id }}&index={{index}}&next={{next}}"
        {% else %}
        href="{% url 'spid:login' %}?idp={{ idp.id }}&index={{index}}"
        {% endif %}
        
        {% if method == 'post' %} 
            eidas-idp-button="#eidas-idp-button-medium-post" 
        {% else %} 
            eidas-id p-button="#eidas-idp-button-medium-get"
        {% endif %}
        aria-haspopup="false" aria-expanded="false">

        <span class="italia-it-button-icon">
            <img src="{% static 'eid/img/ficep-it-eidas-db.svg' %}"
                onerror="this.src='{% static 'eid/img/ficep-it-eidas-db.svg' %}'; this.onerror=null;" alt="" />
        </span>
        <span class="italia-it-button-text">Login with eIDAS</span>
    </a>
    {% if method == 'post' %}
</form>
{% endif %}
<!-- AGID - EIDAS IDP BUTTON MEDIUM "ENTER WITH EIDAS" * end * -->
