-----BEGIN CERTIFICATE-----
MIIClDCCAf2gAwIBAgIBADANBgkqhkiG9w0BAQ0FADBnMQswCQYDVQQGEwJpdDEL
MAkGA1UECAwCUk0xHzAdBgNVBAoMFkZvbmRhemlvbmUgVWdvIEJvcmRvbmkxGzAZ
BgNVBAMMEnJlZ29wcG9wd2ViLmZ1Yi5pdDENMAsGA1UEBwwEUk9NQTAeFw0yMDEw
MTIwNzE4MzRaFw0yMTEwMTIwNzE4MzRaMGcxCzAJBgNVBAYTAml0MQswCQYDVQQI
DAJSTTEfMB0GA1UECgwWRm9uZGF6aW9uZSBVZ28gQm9yZG9uaTEbMBkGA1UEAwwS
cmVnb3Bwb3B3ZWIuZnViLml0MQ0wCwYDVQQHDARST01BMIGfMA0GCSqGSIb3DQEB
AQUAA4GNADCBiQKBgQDb9c7LFHAznJB/6Rj60lU0FE9o23kIYcH6/zMIZMUBZjsq
KrKLC38VG6GBXwiGy3nSQAU3p/5w0KREexBQw5enhv71J8avdbVeC1Df7RSNoi3f
etfwoRqtdlnPFfmTbgMBfS3z5ljrklTq9dJteAKR3J+KMJBk4AiEX2ZJqB+nowID
AQABo1AwTjAdBgNVHQ4EFgQUBogWp9SJT/WRDd5ltxAeuAHH7powHwYDVR0jBBgw
FoAUBogWp9SJT/WRDd5ltxAeuAHH7powDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0B
AQ0FAAOBgQAl5reEChsEBYcNdTSoXpVq5yZMNKsAfmnC4MTi1QKBew/xmlZWwvoo
Jrj6bmyh6vsLpTWnbWufQWp3G1RzXOaAxFoSfM9cywUDWlaWUdTadQ1wKrwDfJmp
ZidXQWRBtkyijkXk/LjAHDqug3BtB6kNCnb7j1pxyk1p7Cb28tHxNQ==
-----END CERTIFICATE-----
