-----BEGIN PRIVATE KEY-----
MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBANv1zssUcDOckH/p
GPrSVTQUT2jbeQhhwfr/MwhkxQFmOyoqsosLfxUboYFfCIbLedJABTen/nDQpER7
EFDDl6eG/vUnxq91tV4LUN/tFI2iLd961/ChGq12Wc8V+ZNuAwF9LfPmWOuSVOr1
0m14ApHcn4owkGTgCIRfZkmoH6ejAgMBAAECgYEAnFGJYBurTZKTwsN2hDJcaQGS
GbP3xPQsdmNM8kcjFsZ/f40Oi/BkpSyYz6cpGRqb/caPrqkOE0DDrQNEahFGwW9Y
nC5rq+vqoKri6QZ9mAWpmIEzQjV8VBsl+l5ChNdy9NHZoJ/E+JSipw/K2D8IFIyt
wia9g/OxntMOaF6J/2ECQQD6EfhwKH8wB3NLLZ6wtoP2rJ45q77S7+me05ecJS8y
5MfuI8YY1dXJyIy+7lpe+bDEDfju+Fmi36ZHRqJE0YkzAkEA4S0OnoWLuxv7PiRd
mHl2aVhyqIkr2Tkbjt715U21v/bfs+4M+E37O16AVZV9oykDocKFMErwxw2O27oJ
mvjH0QJBALssCjUAyroLSYuCmN2RrtJKP5/Q4eKGeelMXJUd6+b/AHpJQnPCUeNX
falHRFMENv93qdRMBON43L9KqhgycasCQGqS0rqAZnP2eGEfARVrV3ngnNPbqF81
Qi/KowMWVpE2nQYiAw16iw+8WG0pRb91Z/ylfjgvH+p2JkkkseshGCECQQCsaLD0
t1a0qusLiN2TVys0Gyu/4hEKKRYD+3ALQ4LurUKgSPo0YcGhc15QoFQSTGx7zQdh
A+YP8U9JqbwpMkZi
-----END PRIVATE KEY-----
